<app-nav-bar></app-nav-bar>

<div class="jumbotron text-center">
    <h1 class="display-3">Estas inscrito en un nuevo curso!</h1>
    <p class="lead"><strong>Por favor revisa tu correo</strong> <br><br>
        Inicia sesión para ver tus cursos!
    </p>
    <hr>
    <p>
        Alguna duda? <a href="/info_andamios">Contactanos</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/mis_formaciones" role="button">Mis Cursos</a>
    </p>
</div>


<app-footer></app-footer>