<app-nav-bar></app-nav-bar>
<app-fixed-buttons></app-fixed-buttons>



<div class="menu-container">
    <div class="info">
        <div class="container">
            <div class="hexagon">
                <div class=shape>
                    <img src="../../../assets/icons/mision3.png" alt="">
                    <div class='content'>
                        <div class="sub-content">
                            <p>
                                Somos una 3dVerse, una tienda de hobbies, Tienes una idea y no sabes si podemos realizarla con impresión 3D? Déjate asesorar por nuestro equipo. Te ayudamos a encontrar el camino para hacer tus proyectos realidad. Escríbenos al Whatsapp: +57 3167060492
                            </p>
                            <p>
                                Te atenderemos lo antes posible. ¡Mira nuestro catálogo y Antójate!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <br>
</div>
<app-footer></app-footer>